In [2]:
import pandas as pd

data = {"字串":['台北','台中'],
        "整數":[1000,2000],
        '浮點數':[3.258,7.999]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  2000  7.999

In [4]:
# 視覺美化
#pip install jinja2

df.style\
.format(precision=2,thousands=',',decimal='.')\
.relabel_index(['列1','列2'])

In [5]:
import numpy as np

data = np.random.rand(10,2)  * 10

df = pd.DataFrame(data,
                  index = pd.date_range(start = "2023-09-01", periods=10),
                  columns=["Taipei","Kaoshiung"])
df

              Taipei  Kaoshiung
2023-09-01  7.198622   4.622389
2023-09-02  4.655866   3.207493
2023-09-03  6.269018   4.949422
2023-09-04  1.622052   3.332495
2023-09-05  5.505946   7.082023
2023-09-06  5.766753   1.255860
2023-09-07  0.217548   6.104965
2023-09-08  2.155937   1.157003
2023-09-09  0.422707   8.198141
2023-09-10  7.867970   7.022332

In [7]:
# 視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap = "PuBuGn", vmin=1, vmax=5,axis=None)

In [10]:
# 隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

In [11]:
df = pd.DataFrame(np.random.randn(10,4),
             columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')

          A         B         C         D
0 -0.354169  0.410203  0.117930 -0.449064
1  0.311857 -2.011431  0.287751  0.104024
2  1.168510 -0.661943  1.337056 -0.216412
3 -0.788263 -0.194632 -0.648130  0.001999
4 -1.679372 -1.190096 -1.448418 -0.471565
5 -1.125484  0.323738 -0.188597  1.213764
6 -0.678976  0.383369  0.417502  0.819139
7 -0.293259  0.806394  0.683608 -0.678622
8 -0.669277 -1.060615  1.654010  0.724620
9 -0.908795 -1.202872  0.385075 -0.990980